.riderList {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    &::after {
      content: "";
      flex: 0 1 32%;
      flex: 1;
    }
  }
}

.resetInstruct {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 1em;
  color: rgb(60, 60, 60);
}

.guestTitle {
  text-align: center;
  margin: 1em 0;
  font-weight: 600;
}
