.riderList {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    &::after {
      content: "";
      flex: 0 1 32%;
      flex: 1;
    }
  }
}
