.Entrants {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .error {
    color: red;
    font-weight: 600;
    font-size: 14px;
    margin-top: 2px;
  }

  .input {
    font-weight: 600;
    font-size: 12px;
  }

  .inputError {
    border: 1px solid red;

    &:placeholder {
      color: red;
    }
  }

  .addInput {
    width: 100%;
  }
}
