.listItem {
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 10px 50px 30px 120px;
  height: 140px;
  align-items: center;
  background-color: #222;

  .bikeImage {
    position: absolute;
    top: 0;
    right: 0;
    left: 2em;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    opacity: 0.4;
  }
}

@media (min-width: 950px) {
  .listItem {
    width: 300px;
  }
}

.listItem .remove svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 25px;
}

.listItem .details {
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  max-width: 160px;
  position: static;
  z-index: 1;
}

.listItem .riderNumber {
  color: rgb(221, 72, 72);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 20px;
}

.listItem .riderPic {
  height: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.riderPic__img {
  width: 250px;
  position: absolute;
  left: -60px;
  display: block;
  top: 10px;
}

.listItem .team {
  display: block;
  font-size: 0.8rem;
}

.riderName {
  font-size: 34px;
  line-height: 25px;
  margin-bottom: 12px;
  margin-top: 12px;
  display: block;
}

.addButton {
  color: #fff;
  border-radius: 100%;
  font-size: 32px;
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.highlightGuest {
  background-color: rgb(1, 1, 63);

  .displayGuestTitle {
    font-size: 0.5em;
  }
}

.listItem.guest {
  .bikeImage {
    left: 5em !important;
  }
}
