.tile {
  width: 100%;
  background-color: black;
  border-radius: 6px;
  margin-bottom: 10px;
  color: #fff;
  position: relative;
  // height: 100px;
  display: flex;
  padding: 10px;
  overflow: hidden;

  .contentBox {
    flex: 1;
    h2 {
      font-size: 22px;
    }
  }

  .seeMore {
    cursor: pointer;
    font-weight: 800;
    font-size: 14px;
    margin-top: 6px;
  }

  .location {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    .flag {
      position: relative;
      width: 18px;
      top: 3px;
    }
  }

  .imageContainer {
    width: 120px;

    img {
      width: 150px;
      height: 150px;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.expanded {
  margin-top: -15px;
  padding: 20px 15px 5px;
  background-color: grey;
  flex: 1;
  width: 100%;
  margin-bottom: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  .allEvents {
    border-collapse: collapse;
    width: 100%;
    text-align: center;

    thead {
      border-bottom: 2px solid black;

      th {
        padding-bottom: 3px;
      }
    }

    .highlight {
      background-color: rgba(255, 255, 255, 0.4);
    }

    tr {
      border-bottom: 1px solid black;

      td {
        padding: 6px 4px;
        text-align: center;
        vertical-align: middle;

        &:first-child {
          padding-left: 2px;
        }

        &:last-child {
          padding-right: 2px;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
