.legendContainer {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.legendContainer h4 {
  font-size: 0.8rem;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2px;
  margin-top: 4px;
  align-items: start;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 2px;
}

.seriesTag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;
}

.motogpTag {
  background-color: var(--motogp-red);
}

.wsbkTag {
  background-color: var(--wsbk-blue);
}
